<%- include('partials/header') %> 

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <%- include('partials/sidebar') %> 
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <%- include('partials/navbar') %> 
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="d-flex gap-3">
                                <form action="/" method="get">
                                    <button  type="submit" name="all" value="" class="btn btn-primary option" style="margin-bottom: 1rem;"><b>All</b></button>
                                </form>
                                <form action="/" method="get">
                                    <button  type="submit" name="small" value="small" class="btn btn-primary option" style="margin-bottom: 1rem;"><b>Small</b></button>
                                </form>
                                <form action="/" method="get">
                                    <button  type="submit" name="medium" value="medium" class="btn btn-primary option" style="margin-bottom: 1rem;"><b>Medium</b></button>
                                </form>
                                <form action="/" method="get">
                                    <button  type="submit" name="large" value="large" class="btn btn-primary option" style="margin-bottom: 1rem;"><b>Large</b></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row justify-content-end">
                                <a class="col-lg-6" href="/add"><button class="btn btn-primary add float-sm-end"><i class="fa-solid fa-plus"></i> <b>Add Cars</b></button></a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <% mobil.forEach(car => { %>
                            <div class="col-lg-4 col-md-12 col-sm12 mt-5">
                                <a href="/<%= car.no %> " class="text-decoration-none text-dark">
                                    <div class="card" style="padding: 20px; border-radius: 8px;">
                                        <img src="images/<%= car.image %> " alt="" class="card-img-top" style="height:400px; object-fit: cover; border-radius: 8px;">
                                          <div class="card-body w-100">
                                            <p class="card-title" style="font-weight: 400;"><b><%= car.nama %></b></p>
                                            <p style="font-weight:700;">Rp <%= car.sewa.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')%> / hari</p>
                                            <p><%= car.ukuran %></p>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <a href="/delete/<%= car.no %> "><button class="btn btn-danger delt w-100"><i class="fa-solid fa-trash"></i> Delete</button></a>
                                                </div>
                                                <div class="col-lg-6">
                                                    <a href="/edit/<%= car.no %> "><button class="btn btn-success edit w-100"><i class="fa-solid fa-square-pen"></i> Edit</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>     
                            </div>                   
                        <% }) %>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <%- include('partials/footer') %> 
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</body>

</html>